biblioteca/vendor/
node_modules/
dados/produtos/*
dados/midias/*
dados/editor/*
.logs/
.vscode/

dados/pagseguro.log.txt

### Dreamweaver ###
_notes
_compareTemp
configs/
dwsync.xml
dw_php_codehinting.config
*.mno

