RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^robots
RewriteCond $1 !^google

RewriteRule ^(.*)$ index.php?rota=$1 [NC,QSA,L]
