#chartdiv {
    width: 100%;
    height: 300px;
}

.navbar--saudacao{
    font-size: 0.85rem;
}

.questionarios--pergunta .card-footer button{
    width: 2.5em !important;
}

.questionario--home-link{
    width: 100%;
    max-width: 500px;
}

.form--registro{
    max-width: 550px;
}

form .span-error{
    color: #ff0000;
    display: block;
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
}